<mat-progress-bar *ngIf="!(characters | async)" mode="indeterminate"></mat-progress-bar>
<div class="sw-characters-list">
  <sw-character-search (onFilter)="setFilter($event)"></sw-character-search>

  <mat-card class="sw-card" *ngIf="(characters | async)">
    <mat-list role="list">
      <a mat-list-item class="mat-list-option"
         *ngFor="let character of (characters | async | films: filter.films |species: filter.species | birthYear: filter.minYear:filter.maxYear)"
         role="listitem" (click)="goTo(character)">
        <mat-icon mat-list-icon>face</mat-icon>
        <h4 mat-line>{{character.name}}</h4>
      </a>
    </mat-list>
  </mat-card>
</div>

